html, body {
  height: 100%;
  margin: 0;
}

#__next, #ice-container {
  height: 100%;
}

.halas-layout .ant-tabs-nav-wrap {
  width: 64px;
}

.halas-layout  .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 0;
}

.halas-layout .ant-tabs-tab-btn {
  width: 100%;
}

.ant-tabs-content-holder {
  overflow: auto !important;
}

.halas-layout h5.ant-typography {
  margin: 0;
}



.halas-toolbar-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  line-height: 0;
}

.halas-toolbar-item:hover {
  background-color: rgba(64, 87, 109, 0.07);
}

#halas-rough-svg {
  position: fixed;
  left: 99999999px;
  top: 99999999px;
  z-index: -1;
}
